@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=PT+Serif:wght@700&display=swap");
@font-face {
  font-family: "century-gothic";
  src: url("../../fonts/Century-Gothic.ttf");
}
.notice-board ul .btn {
  border-radius: 5px;
  padding: 16px 32px;
  border: none;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.color-oliv {
  color: #256137;
}

.bg-oliv {
  background-color: #256137;
}

.color-oliv-dark {
  color: #3F6B4D;
}

.bg-oliv-dark {
  background-color: #3F6B4D;
}

.color-white, header, .notice-board ul li {
  color: #E7EBE8;
}

.bg-white {
  background-color: #E7EBE8;
}

.color-dark-yellow {
  color: #BB9338;
}

.bg-dark-yellow {
  background-color: #BB9338;
}

.container {
  max-width: 1720px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 6px 0px 6px;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media only screen and (min-width: 1800px) {
  .container {
    max-width: 1720px;
  }
}

ul,
li {
  list-style: none;
}

.notice-board {
  background: #256137;
  padding-top: 16px;
  padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .notice-board ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
.notice-board ul li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  margin-bottom: 10px;
}
.notice-board ul li:first-child {
  border-right: 2px solid;
}
.notice-board ul li:last-child {
  margin-bottom: 0px;
  padding-right: 0px;
}
@media only screen and (min-width: 768px) {
  .notice-board ul li {
    margin-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .notice-board ul .btn {
    padding-left: 20px;
  }
}

.bg-img {
  background-image: url(../img/main-bg-img.png);
  background-size: cover;
}

header {
  background-color: black;
  padding-top: 17px;
  padding-bottom: 17px;
}
header .topmenu {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}
header .topmenu .logo-side {
  display: flex;
  align-items: center;
  column-gap: 23px;
}
header .topmenu .logo-side .logo {
  width: 85px;
  height: 83px;
}
header .topmenu .logo-side .logo img {
  width: 100%;
  height: 100%;
}
header .topmenu .logo-side .brand-name h2,
header .topmenu .logo-side .brand-name p {
  font-family: "century-gothic";
  font-size: 34px;
  line-height: 42px;
  font-weight: 400;
}
header .topmenu .logo-side .brand-name h2 {
  border-bottom: 1px solid #E7EBE8;
}
header .topmenu .logo-side .brand-name p {
  font-size: 16px;
  line-height: 20px;
  margin-top: 5px;
}
header .topmenu .menu ul {
  list-style-type: none;
  display: flex;
  column-gap: 31px;
}
header .topmenu .menu ul li {
  display: none;
}
@media only screen and (min-width: 1400px) {
  header .topmenu .menu ul li {
    display: block;
  }
}
header .topmenu .menu ul li a {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #E7EBE8;
  text-decoration: none;
}
header .topmenu .menu ul .pt-5 {
  padding-top: 5px;
}
header .topmenu .menu ul h1 {
  display: block;
}
@media only screen and (min-width: 1400px) {
  header .topmenu .menu ul h1 {
    display: none;
  }
}

.main-wrapper {
  text-align: center;
}
.main-wrapper h3, .main-wrapper h1, .main-wrapper p {
  font-family: "Lato", sans-serif;
  font-size: 35px;
  line-height: 42px;
  font-weight: 400;
  color: #E7EBE8;
  padding-bottom: 55px;
}
.main-wrapper h1 {
  font-family: "PT Serif", serif;
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
}
.main-wrapper p {
  font-family: "Lato", sans-serif;
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
  padding-bottom: 45px;
}
.main-wrapper button {
  background-color: #256137;
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  line-height: 30px;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
