* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$color-list: (
    "oliv": "#256137",
    "oliv-dark": "#3F6B4D",
    "white": "#E7EBE8",
    "dark-yellow": "#BB9338",
);

@each $name, $code in $color-list {
    .color-#{$name} {
        color: unquote($code);
    }
    .bg-#{$name} {
        background-color: unquote($code);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=PT+Serif:wght@700&display=swap");

$font-josefin: "Josefin Sans", sans-serif;
$font-pt: "PT Serif", serif;
$font-lato: "Lato", sans-serif;

.container {
    max-width: 1720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 6px 0px 6px;
}

@mixin media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
$screenSize: (
    "576px": "540px",
    "768px": "720px",
    "992px": "960px",
    "1200px": "1140px",
    "1400px": "1320px",
    "1800px": "1720px",
);
@each $screen, $max in $screenSize {
    .container {
        @include media($screen) {
            max-width: unquote($max);
        }
    }
}


@mixin py ($size) {
    padding-top: $size;
    padding-bottom: $size;
}
@mixin px ($size) {
    padding-left: $size;
    padding-right: $size;
}
@mixin font-size($size) {
    font-size: $size;
}
// common style 
%btn {
    border-radius: 5px;
    padding: 16px 32px;
    border: none;
    font-family: $font-lato;
    font-weight: 600;
}

ul, li {
    list-style: none;
}

.notice-board {
    background: #256137;
    @include py(16px);

    ul {
        @include media(768px) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        li {
            font-family: $font-lato;
            font-weight: 400;
            @extend .color-white;
            margin-bottom: 10px;
            &:first-child {
                border-right: 2px solid index($list: $color-list, $value: 'white');
            }
            &:last-child {
                margin-bottom: 0px;
            }
            @include media(768px) {
                margin-bottom: 0px;
                @include px(10px);
            }
            
        }
        .btn {
           @extend %btn; 
           @include media(768px) {
            padding-left: 20px;
           }
        }
    }
}

header {
    background-color: black;
    @include py(17px);
    @extend .color-white;

    .topmenu{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;

        .logo-side {
            display: flex;
            align-items: center;
            .logo{
                width: 85px;
                height: 83px;
                padding-right: 23px;

                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .brand-name{
                h2{
                    font-family: $font-josefin;
                    font-size: 34px;
                }
            }
        }
    }

}
