* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Fonts
$font-josefin: "Josefin Sans", sans-serif;
$font-pt: "PT Serif", serif;
$font-lato: "Lato", sans-serif;
$font-gothic: "century-gothic";

@mixin fonts($name, $size, $weight: initial, $lineH: initial) {
    font-family: $name;
    font-size: $size;
    line-height: $lineH;
    font-weight: $weight;
}

// Color
$c-oliv: #256137;
$c-oliv-dark: #3f6b4d;
$c-white: #e7ebe8;
$c-dark-yellow: #bb9338;
$oliv-background: linear-gradient(rgba(15, 70, 32, 0.8),rgba(15, 70, 32, 0.8));

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=PT+Serif:wght@700&display=swap");

// Container
.container {
    max-width: 1720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 6px 0px 6px;
}

@mixin media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
$screenSize: (
    "576px": "540px",
    "768px": "720px",
    "992px": "960px",
    "1200px": "1140px",
    "1400px": "1320px",
    "1800px": "1720px",
);
@each $screen, $max in $screenSize {
    .container {
        @include media($screen) {
            max-width: unquote($max);
        }
    }
}

// Padding
@mixin py($size) {
    padding-top: $size;
    padding-bottom: $size;
}
@mixin px($size) {
    padding-left: $size;
    padding-right: $size;
}
@mixin font-size($size) {
    font-size: $size;
}

// Background mixin
@mixin background($position, $size, $repeat){
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
}

// Common style
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
%batch{
    @include fonts($font-pt, 50px, 700, 66px);
    color: white;
    background-color: $c-oliv-dark;
    display: inline-block;
}

%btn {
    border-radius: 5px;
    padding: 16px 32px;
    border: none;
    font-family: $font-lato;
    font-weight: 600;
}

%btn-lato {
    @extend %btn;
    padding: 30px;
    background-color: $c-oliv;
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    border-radius: 8px;
    color: $c-white;
}

ul,
li {
    list-style: none;
}

.oliv-span{
    color: #41845B;
    @include fonts($font-pt, 25px, 400, 40px);

    @include media(768px) {
        font-size: 30px;
    }
}
.common-head{
    @include fonts($font-pt, 40px, 700, 75px);
    margin-top: 23px;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;

    @include media(768px) {
        font-size: 50px;
    }
    @include media(992px) {
        font-size: 55px;
    }
}
.italic-p{
    @include fonts($font-lato, 30px, 400, 36px);
    font-style: italic;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}
.border-oliv{
    width: 100px;
    height: 3px;
    background-color: $c-oliv;
    margin-bottom: 25px;
}

@import "partials/home";
@import "partials/about";
@import "partials/contact";
@import "partials/practice";
@import "partials/personal-injury";
@import "partials/client-reviews";