@import "modules/fonts";
@import "modules/commonStyle";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$c-oliv: #256137;
$c-oliv-dark: #3f6b4d;
$c-white: #e7ebe8;
$c-dark-yellow: #bb9338;

$color-list: (
    "oliv": "#256137",
    "oliv-dark": "#3F6B4D",
    "white": "#E7EBE8",
    "dark-yellow": "#BB9338",
);

@each $name, $code in $color-list {
    .color-#{$name} {
        color: unquote($code);
    }
    .bg-#{$name} {
        background-color: unquote($code);
    }
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,400;0,700;1,400&family=PT+Serif:wght@700&display=swap");

.container {
    max-width: 1720px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 6px 0px 6px;
}

@mixin media($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
$screenSize: (
    "576px": "540px",
    "768px": "720px",
    "992px": "960px",
    "1200px": "1140px",
    "1400px": "1320px",
    "1800px": "1720px",
);
@each $screen, $max in $screenSize {
    .container {
        @include media($screen) {
            max-width: unquote($max);
        }
    }
}

@mixin py($size) {
    padding-top: $size;
    padding-bottom: $size;
}
@mixin px($size) {
    padding-left: $size;
    padding-right: $size;
}
@mixin font-size($size) {
    font-size: $size;
}

.notice-board {
    background: #256137;
    @include py(16px);

    ul {
        @include media(768px) {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
        li {
            font-family: $font-lato;
            font-weight: 400;
            @extend .color-white;
            margin-bottom: 10px;
            &:first-child {
                border-right: 2px solid
                    index($list: $color-list, $value: "white");
            }
            &:last-child {
                margin-bottom: 0px;
                padding-right: 0px;
            }
            @include media(768px) {
                margin-bottom: 0px;
                @include px(10px);
            }
        }
        .btn {
            @extend %btn;
            @include media(768px) {
                padding-left: 20px;
            }
        }
    }
}

header {
    background-color: rgba(0, 0, 0, 0.48);;
    @include py(17px);
    @extend .color-white;

    .topmenu {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;

        .logo-side {
            display: flex;
            align-items: center;
            column-gap: 23px;
            .logo {
                width: 55px;
                height: 55px;
                @include media(1200px) {
                    width: 72px;
                    height: 72px;
                }
                @include media(1400px) {
                    width: 85px;
                    height: 85px;
                }
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .brand-name {
                h2,
                p {
                    @include fonts($font-gothic, 30px, 400);
                    @include media(1400px) {
                        font-size: 34px;
                    }
                }
                h2 {
                    border-bottom: 1px solid $c-white;
                }
                p {
                    margin-top: 5px;
                    font-size: 14px;
                    @include media(1400px) {
                        font-size: 16px;
                    }
                }
            }
        }

        // navbar btn
        .nav-btn {
            color: $c-white;
            font-size: 25px;
            @include media(1200px) {
                display: none;
            }
        }

        .menu {
            ul {
                list-style-type: none;
                display: flex;
                column-gap: 31px;
                li {
                    display: none;
                    @include fonts($font-lato, 16px, 400);
                    @include media(1400px) {
                        font-size: 20px;
                    }
                    @include media(1200px) {
                        display: block;
                    }
                    a {
                        color: $c-white;
                        text-decoration: none;
                    }
                }
                // .pt-5 {
                //     padding-top: 5px;
                // }
            }
        }
    }
}

.main-wrapper {
    text-align: center;
    h3,
    h1,
    p {
        @include fonts($font-lato, 35px, 400, 42px);
        color: $c-white;
        padding-bottom: 55px;
    }
    h1 {
        @include fonts($font-pt, 60px, 700, 80px);
    }
    p {
        @include fonts($font-lato, 30px, 500, 37px);
        padding-bottom: 45px;
    }
    button {
        background-color: $c-oliv;
        color: white;
        @include fonts($font-lato, 25px, 400, 30px);
    }
}

.head-main-wrap {
    background-image: url(../img/main-bg-img.png);
    background-size: cover;
}
