.div-wrapper{
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
}
.div1{
    width: 45%;
    height: 200px;
    background-color: blue;
}

.div2{
    width: 45%;
    height: 200px;
    background-color: rgb(222, 175, 113);
}

.div3{
    width: 20%;
    height: 200px;
    background-color: rgb(200, 190, 86);
}

.div4{
    width: 20%;
    height: 200px;
    background-color: rgb(223, 115, 227);
}

.div5{
    width: 20%;
    height: 200px;
    background-color: rgb(0, 255, 51);
}