// about mane section style
.about-head-wrap{
    background-image: url("../img/about-img/unsplash_5KaYlNqheZE.png");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    .about-main-bg{
        text-align: center;
        padding-top: 100px;
        padding-bottom: 170px;

        @include media(992px) {
            padding-top: 127px;
            padding-bottom: 207px;
        }

        
    }
}
.common-main-bg{
    h1{
        color: $c-white;
        @include fonts($font-pt, 50px, 700, 60px);

        @include media(1200px) {
            font-size: 60px;
        }
    }
    p{
        color: $c-white;
        @include fonts($font-lato, 22px, 300, 30px);

        @include media(1200px) {
            font-size: 25px;
        }
    }
}

// Attorney style

.common-oliv-bg{
    background-image: $oliv-background;
    @include py(106px);
    margin-bottom: 81px;
    @include background(right, 30% 100%, no-repeat);
}

.attorney-sec{
    
    .container{
        display: flex;
        flex-flow: column;
        @include px(30px);
        row-gap: 30px;

        @include media(992px) {
            flex-flow: row wrap;
            justify-content: space-between;
            @include px(0px)
        }

        .poul-img{
            width: 100%;
            display: flex;
            order: 1;

            @include media(992px) {
                width: 46%;
                order: 2;
            }
            @include media(1400px) {
                width: 42%;
            }

            img{
                width: 100%;

            }
        }
    }
}

.attorney-content{
    display: flex;
    flex-flow: column wrap;
    order: 2;

    @include media(992px) {
        width: 50%;
        order: 1;
    }
    @include media(1400px) {
        width: 53%;
    }

    h1{
        @include fonts($font-pt, 45px, 700, 40px);
        margin-bottom: 57px;

        @include media(992px) {
            font-size: 40px;
            margin-bottom: 40px;
        }
        @include media(1400px) {
            font-size: 55px;
        }
        @include media(1800px) {
            margin-bottom: 57px;
        }
    }
    p{
        @include fonts($font-lato, 25px, 400, 40px);
        color: rgba(0, 0, 0, 0.75);

        @include media(992px) {
            font-size: 20px;
            line-height: 30px;
        }
        @include media(1200px) {
            font-size: 30px;
            line-height: 47px;
        }
    }
    .edu-margin{
        margin-top: 57px;

        @include media(992px) {
            margin-top: 30px;
        }
        @include media(1800px) {
            margin-top: 57px;
        }
    }
    .education{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        border-bottom: 2px solid rgba(156, 169, 161, 0.3);

        p{
            @include fonts($font-lato, 25px, 400, 50px);

            @include media(768px) {
                font-size: 28px;;
                line-height: 55px;
            }
        }
        .circle-plus{
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            width: 48px;
            height: 48px;
            border: 1px solid black;
            border-radius: 50%;
        }
    }   
}

// seth Kohen

.seth-kohen{
    background-position: left top;

    .container{
        display: flex;
        flex-flow: column;
        @include px(30px);
        row-gap: 30px;

        @include media(992px) {
            flex-flow: row wrap;
            justify-content: space-between;
            @include px(0px)
        }

        .seth-img{
            width: 100%;

            @include media(992px) {
                width: 46%;
            }
            @include media(1200px) {
                width: 46%;
                height: 850px;
            }
            @include media(1400px) {
                width: 42%;
                height: 850px;
            }

            img{
                width: 100%;
                height: 100%;
            }
        }
        .attorney-content{
            @include media(1200px) {
                padding-left: 60px;
            }
            @include media(1400px) {
                padding-left: 80px;
            }
            @include media(1800px) {
                padding-left: 100px;
            }
        }
    }
}
