button {
    background-color: transparent;
    border: none;
}
%btn {
    border-radius: 5px;
    padding: 16px 32px;
    border: none;
    font-family: $font-lato;
    font-weight: 600;
}

ul,
li {
    list-style: none;
}
