$font-josefin: "Josefin Sans", sans-serif;
$font-pt: "PT Serif", serif;
$font-lato: "Lato", sans-serif;
$font-gothic: "century-gothic";

@font-face {
    font-family: "century-gothic";
    src: url("../../fonts/Century-Gothic.ttf");
}

// fonts
@mixin fonts($name, $size, $weight: initial, $lineH: initial) {
    font-family: $name;
    font-size: $size;
    line-height: $lineH;
    font-weight: $weight;
}
